.image2{
background-size: cover;
} 

.SAYING{

  background-color: cornsilk;
  width: 100%;
  color: aqua;
  padding: 40px;
}

td img{
    margin-left: 0.1cm;
    width: 10cm;
    height: 10cm;
}
.sater{
  width: 100%;
  background: darkblue;
  padding: 40px;
}

.footer{
  background: #325C6A;

}




.footer .fa-linkedin{
  margin-right: 10px;
  background-color: crimson;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1.5cm;
}









.fa-stethoscope {
  color: blue
}


.fa-ambulance{
  color: blue
}

.fa-user-md{
  color: blue
}

.fa-medkit{
  color: blue
}

h1{
  color: blue
}

.Opening{
  background-color: aqua;
}









